[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
jupyterlab = "*"
pillow = "*"
matplotlib = "*"
uvtextureconverter = {editable = true,path = "."}

[packages]

[requires]
python_version = "3.6"
japanize-matplotlib = "*"
